
$gradient-color-1: rgba(233, 184, 93, 0.75);
$gradient-color-2: rgba(238, 247, 159, 0.75);

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  @include flex-center();
  perspective: 1000px;
}

.container {
  width: 50%;
  @include flex-center();
}

.card {
  transform-style: preserve-3d;
  min-height: 70vh;
  width: 20rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.picture {

  .circle {
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
      to right,
      $gradient-color-1,
      $gradient-color-2
    );
    position: absolute;
    padding-top: 2em;
    border-radius: 50%;
    z-index: 1;
  }

  img {
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }

  min-height: 38vh;
  @include flex-center();
  position: relative;
}

.info {

  h1 {
    font-size: 2rem;
    transition: all 0.75s ease-out;
  }

  p {
    font-size: 1rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  
}